<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>DBMS</display-name>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpServlet</display-name>
    <servlet-name>SignUpServlet</servlet-name>
    <servlet-class>SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpServlet</servlet-name>
    <url-pattern>/SignUpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>page3</display-name>
    <servlet-name>page3</servlet-name>
    <servlet-class>page3</servlet-class>
  </servlet>
  <context-param>
    <description>Location to store uploaded file</description>
    <param-name>file-upload</param-name>
    <param-value>
     C:\java\eclipse\DBMS\WebContent\img\
   </param-value>
  </context-param>
  <servlet-mapping>
    <servlet-name>page3</servlet-name>
    <url-pattern>/page3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserValidation</display-name>
    <servlet-name>UserValidation</servlet-name>
    <servlet-class>UserValidation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserValidation</servlet-name>
    <url-pattern>/UserValidation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CandidateServlet</display-name>
    <servlet-name>CandidateServlet</servlet-name>
    <servlet-class>CandidateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CandidateServlet</servlet-name>
    <url-pattern>/CandidateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>checkServlet</display-name>
    <servlet-name>checkServlet</servlet-name>
    <servlet-class>checkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkServlet</servlet-name>
    <url-pattern>/checkServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>securityServlet</display-name>
    <servlet-name>securityServlet</servlet-name>
    <servlet-class>securityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>securityServlet</servlet-name>
    <url-pattern>/securityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginSecurity</display-name>
    <servlet-name>loginSecurity</servlet-name>
    <servlet-class>loginSecurity</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginSecurity</servlet-name>
    <url-pattern>/loginSecurity</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>resultServlet</display-name>
    <servlet-name>resultServlet</servlet-name>
    <servlet-class>resultServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>resultServlet</servlet-name>
    <url-pattern>/resultServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>admin_next</display-name>
    <servlet-name>admin_next</servlet-name>
    <servlet-class>admin_next</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin_next</servlet-name>
    <url-pattern>/admin_next</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login_Admin</display-name>
    <servlet-name>Login_Admin</servlet-name>
    <servlet-class>Login_Admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login_Admin</servlet-name>
    <url-pattern>/Login_Admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Adminlogin</display-name>
    <servlet-name>Adminlogin</servlet-name>
    <servlet-class>Adminlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Adminlogin</servlet-name>
    <url-pattern>/Adminlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>candidateSignup</display-name>
    <servlet-name>candidateSignup</servlet-name>
    <servlet-class>candidateSignup</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>candidateSignup</servlet-name>
    <url-pattern>/candidateSignup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>upload</display-name>
    <servlet-name>upload</servlet-name>
    <servlet-class>upload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>upload</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>upload1</display-name>
    <servlet-name>upload1</servlet-name>
    <servlet-class>upload1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>upload1</servlet-name>
    <url-pattern>/upload1</url-pattern>
  </servlet-mapping>
</web-app>